@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Animate checkmark */
.animate-checkmark svg {
  transform-origin: center;
  animation: scale-up 0.3s ease-in-out;
}

@keyframes scale-up {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/* Animate X mark */
.animate-xmark svg {
  transform-origin: center;
  animation: scale-up 0.3s ease-in-out;
}
